@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: $light-gray;
}

.content {
  padding-top: 71px;

  .category__title {
    &:first-of-type {
      margin-top: 5rem;
    }
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }

  @media only screen and (max-width: 992px) {
    width: auto;
  }
}
